/* DAISYUI */
@plugin "daisyui" {
    themes: light --default, black;
}

:root:has(input.theme-controller[value="black"]:checked) .tooltip,
:root:has(input.theme-controller[value="black"]:checked) .tooltip::before {
    border-radius: 0.25rem !important;
}

.tooltip::after {
    display: none !important;
}

/* GENERAL */
body {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CANVAS CONTAINER */
#canvas-container {
    width: 400px;
    height: 600px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    cursor: none;
}

#background-canvas,
#game-canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#background-canvas {
    z-index: 0;
}

#game-canvas {
    z-index: 1;
}

#ui-canvas {
    z-index: 2;
}